<div class="form-group">
  <label for="website"><b>Rich Text Editors   </b></label>
  <select [formControl]="editorFormControl" (change)="changeEditor($event)">
      <option>Choose Editor</option>
      <option *ngFor="let editor of editors">{{editor}}</option>
  </select>
</div>
<app-ngx-quill *ngIf="currentEditor == 'NGX Quill'"></app-ngx-quill>
<app-kolkov-angular-editor *ngIf="currentEditor == 'Kolkov Angular Editor'"></app-kolkov-angular-editor>
<app-angular-froala *ngIf="currentEditor == 'Angular Froala'"></app-angular-froala>
<app-ngx-editor *ngIf="currentEditor == 'NGX Editor'"></app-ngx-editor>
<app-ckeditor5-angular *ngIf="currentEditor == 'CKEditor5'"></app-ckeditor5-angular>